{% extends "master.html" %}
{% block title %} App {% endblock %}
{% block content %}

<section class="section">
    <div class="columns">
        <div class="column">
            <h3 class="is-size-3">Medical App</h3>
            <form action="{{url_for('insert_page.insert_staff')}}" method="post">
                <label for="name">Name:</label>
                <input required type="text" class="input" placeholder="name" name="name" id="name">
                <label for="surname">Surname:</label>
                <input required type="text" class="input" placeholder="surname" name="surname" id="surname">
                <label for="position">Position:</label>
                <input required type="text" class="input" placeholder="position" name="position" id="position">
                <button type="submit" class="button is-success mt-2">Save</button>
                <a href="{{url_for('index')}}" class="button is-primary mt-2">Back</a>
            </form>
        </div>
    </div>
</section>
{% endblock %}