{% extends "master.html" %}
{% block title %} App {% endblock %}
{% block content %}

<section class="section">
    <div class="columns">
        <div class="column">
            <h3 class="is-size-3">Medical App</h3>
            <form action="{{url_for('insert_page.insert_room')}}" method="post">
                <label for="name">Floor:</label>
                <input required type="text" class="input" placeholder="floor" name="floor" id="floor">
                <label for="surname">Room number:</label>
                <input required type="text" class="input" placeholder="Room number" name="room_number" id="room_number">
                <button type="submit" class="button is-success mt-2">Save</button>
                <a href="{{url_for('index')}}" class="button is-primary mt-2">Back</a>
            </form>
        </div>
    </div>
</section>
{% endblock %}