{% extends "master.html" %}
{% block title %} App {% endblock %}
{% block content %}

<section class="section">
    <div class="columns">
        <div class="column">
            <h3 class="is-size-3">Medical App</h3>
            {% if error %}
                <p class=error><strong>Error:</strong> {{ error }}
            {% endif %}
            <form action="{{url_for('insert_page.insert_staff_patient')}}" method="post">
                <label for="name">ID Staff:</label>
                <input required type="text" class="input" placeholder="name" name="id_staff" id="id_staff">
                <label for="surname">ID Patient:</label>
                <input required type="text" class="input" placeholder="surname" name="id_patient" id="id_patient">
                <label for="position">Starting Date:</label>
                <input required type="date" class="input" placeholder="position" name="start_date" id="start_date" value="{{today}}">
                <label for="position">Ending Date:</label>
                <input type="date" class="input" placeholder="Ending Date" name="end_date" id="end_date">
                <button type="submit" class="button is-success mt-2">Save</button>
                <a href="{{url_for('index')}}" class="button is-primary mt-2">Back</a>
            </form>
        </div>
    </div>
</section>
{% endblock %}