{% extends "master.html" %}
{% block title %} App {% endblock %}
{% block content %}

<section class="section">
    <div class="columns">
        <div class="column">
            <h3 class="is-size-3">Medical App</h3>
            <h4>Inserts</h4>
            <ul>
                <li><a href="{{url_for('insert_page.form_add_staff')}}">Add staff</a></li>
                <li><a href="{{url_for('insert_page.form_add_patient')}}">Add patient</a></li>
                <li><a href="{{url_for('insert_page.form_add_room')}}">Add room</a></li>
                <li><a href="{{url_for('insert_page.form_add_staff_patient')}}">Add staff patient relationship</a></li>  
            </ul>
        </div>
    </div>
</section>
{% endblock %}